In [ ]:
!pip install catboost
!pip install hyperopt
!pip install datasist

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
import hyperopt
from catboost import Pool, CatBoostClassifier, cv
from sklearn.metrics import accuracy_score
import datasist as ds
from sklearn.utils import resample
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Train.csv to Train (1).csv
User uploaded file "Train.csv" with length 18065184 bytes

In [ ]:
train = pd.read_csv('/content/drive/My Drive/Train.csv')
test = pd.read_csv('/content/drive/My Drive/Test.csv')
train.shape,test.shape

((56000, 52), (24000, 51))

In [ ]:
Y_train = train['default_status']

In [ ]:
train_new =train.drop(['default_status'], axis=1)

In [ ]:
tr_rows = train.shape[0]
te_rows = test.shape[0]
tr_rows,te_rows

(56000, 24000)

In [ ]:
all_data = pd.concat((train_new, test)).reset_index(drop=True)

In [ ]:
all_data.head()

    Applicant_ID  form_field1  ...  form_field49  form_field50
0  Apcnt_1000000       3436.0  ...      1.129518      0.044335
1  Apcnt_1000004       3456.0  ...      1.620483      0.322436
2  Apcnt_1000008       3276.0  ...      1.513370      0.011640
3  Apcnt_1000012       3372.0  ...      0.664452      0.082729
4  Apcnt_1000016       3370.0  ...      1.427891      0.045630

[5 rows x 51 columns]

In [ ]:
print(all_data.isnull().sum())

In [ ]:
#numerical_feats= all_data.dtypes[all_data.dtypes != "object"].index; numerical_feats
#all_data.dtypes 

numerical_feats = np.where(all_data.dtypes == float)[0], numerical_feats

In [ ]:
print(numerical_feats)

In [ ]:
all_data.fillna(0, inplace=True)

In [ ]:
all_data.head()

    Applicant_ID  form_field1  ...  form_field49  form_field50
0  Apcnt_1000000       3436.0  ...      1.129518      0.044335
1  Apcnt_1000004       3456.0  ...      1.620483      0.322436
2  Apcnt_1000008       3276.0  ...      1.513370      0.011640
3  Apcnt_1000012       3372.0  ...      0.664452      0.082729
4  Apcnt_1000016       3370.0  ...      1.427891      0.045630

[5 rows x 51 columns]

In [ ]:
print(all_data.isnull().sum())

In [ ]:
all_data = all_data.drop(["form_field2_Cat"], axis=1)

In [ ]:
all_data.iloc[:, 1]

In [ ]:
all_data.shape

(80000, 52)

In [ ]:
list(range(1,51,1))

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

In [ ]:
count = 1
while count <52:
  var = all_data.columns[count]
  var = var+ '_Cat'
all_data[var] = pd.qcut(all_data.iloc[:, count],5,labels=False)
print(var)
count += 1 

x_train['NOT3DPD'] =pd.qcut(x_train['NumberOfTime30-59DaysPastDueNotWorse'].rank(method='first'), 5,labels=False)

In [ ]:
all_data["form_field1_Cat"] = pd.qcut(all_data["form_field1"],5,labels=False)
all_data["form_field2_Cat"] = pd.qcut(all_data["form_field2"],5,labels=False)
all_data["form_field3_Cat"] = pd.qcut(all_data["form_field3"].rank(method='first'),5,labels=False)
all_data["form_field4_Cat"] = pd.qcut(all_data["form_field4"].rank(method='first'),5,labels=False)
all_data["form_field5_Cat"] = pd.qcut(all_data["form_field5"].rank(method='first'),5,labels=False)
all_data["form_field6_Cat"] = pd.qcut(all_data["form_field6"].rank(method='first'),5,labels=False)
all_data["form_field7_Cat"] = pd.qcut(all_data["form_field7"].rank(method='first'),5,labels=False)
all_data["form_field8_Cat"] = pd.qcut(all_data["form_field8"].rank(method='first'),5,labels=False)
all_data["form_field9_Cat"] = pd.qcut(all_data["form_field9"].rank(method='first'),5,labels=False)
all_data["form_field10_Cat"] = pd.qcut(all_data["form_field10"].rank(method='first'),5,labels=False)
all_data["form_field11_Cat"] = pd.qcut(all_data["form_field11"].rank(method='first'),5,labels=False)
all_data["form_field12_Cat"] = pd.qcut(all_data["form_field12"].rank(method='first'),5,labels=False)
all_data["form_field13_Cat"] = pd.qcut(all_data["form_field13"].rank(method='first'),5,labels=False)
all_data["form_field14_Cat"] = pd.qcut(all_data["form_field14"].rank(method='first'),5,labels=False)
all_data["form_field15_Cat"] = pd.qcut(all_data["form_field15"].rank(method='first'),5,labels=False)
all_data["form_field16_Cat"] = pd.qcut(all_data["form_field16"].rank(method='first'),5,labels=False)
all_data["form_field17_Cat"] = pd.qcut(all_data["form_field17"].rank(method='first'),5,labels=False)
all_data["form_field18_Cat"] = pd.qcut(all_data["form_field18"].rank(method='first'),5,labels=False)
all_data["form_field19_Cat"] = pd.qcut(all_data["form_field19"].rank(method='first'),5,labels=False)
all_data["form_field20_Cat"] = pd.qcut(all_data["form_field20"].rank(method='first'),5,labels=False)
all_data["form_field21_Cat"] = pd.qcut(all_data["form_field21"].rank(method='first'),5,labels=False)
all_data["form_field22_Cat"] = pd.qcut(all_data["form_field22"].rank(method='first'),5,labels=False)
all_data["form_field23_Cat"] = pd.qcut(all_data["form_field23"].rank(method='first'),5,labels=False)
all_data["form_field24_Cat"] = pd.qcut(all_data["form_field24"].rank(method='first'),5,labels=False)
all_data["form_field25_Cat"] = pd.qcut(all_data["form_field25"].rank(method='first'),5,labels=False)
all_data["form_field26_Cat"] = pd.qcut(all_data["form_field26"].rank(method='first'),5,labels=False)
all_data["form_field27_Cat"] = pd.qcut(all_data["form_field27"].rank(method='first'),5,labels=False)
all_data["form_field28_Cat"] = pd.qcut(all_data["form_field28"].rank(method='first'),5,labels=False)
all_data["form_field29_Cat"] = pd.qcut(all_data["form_field29"].rank(method='first'),5,labels=False)
all_data["form_field30_Cat"] = pd.qcut(all_data["form_field30"].rank(method='first'),5,labels=False)
all_data["form_field31_Cat"] = pd.qcut(all_data["form_field31"].rank(method='first'),5,labels=False)
all_data["form_field32_Cat"] = pd.qcut(all_data["form_field32"].rank(method='first'),5,labels=False)
all_data["form_field33_Cat"] = pd.qcut(all_data["form_field33"].rank(method='first'),5,labels=False)
all_data["form_field34_Cat"] = pd.qcut(all_data["form_field34"].rank(method='first'),5,labels=False)
all_data["form_field35_Cat"] = pd.qcut(all_data["form_field35"].rank(method='first'),5,labels=False)
all_data["form_field36_Cat"] = pd.qcut(all_data["form_field36"].rank(method='first'),5,labels=False)
all_data["form_field37_Cat"] = pd.qcut(all_data["form_field37"].rank(method='first'),5,labels=False)
all_data["form_field38_Cat"] = pd.qcut(all_data["form_field38"].rank(method='first'),5,labels=False)
all_data["form_field39_Cat"] = pd.qcut(all_data["form_field39"].rank(method='first'),5,labels=False)
all_data["form_field40_Cat"] = pd.qcut(all_data["form_field40"].rank(method='first'),5,labels=False)
all_data["form_field41_Cat"] = pd.qcut(all_data["form_field41"].rank(method='first'),5,labels=False)
all_data["form_field42_Cat"] = pd.qcut(all_data["form_field42"].rank(method='first'),5,labels=False)
all_data["form_field43_Cat"] = pd.qcut(all_data["form_field43"].rank(method='first'),5,labels=False)
all_data["form_field44_Cat"] = pd.qcut(all_data["form_field44"].rank(method='first'),5,labels=False)
all_data["form_field45_Cat"] = pd.qcut(all_data["form_field45"].rank(method='first'),5,labels=False)
all_data["form_field46_Cat"] = pd.qcut(all_data["form_field46"].rank(method='first'),5,labels=False)
#all_data["form_field47_Cat"] = pd.qcut(all_data["form_field47"].rank(method='first'),5,labels=False)
all_data["form_field48_Cat"] = pd.qcut(all_data["form_field48"].rank(method='first'),5,labels=False)
all_data["form_field49_Cat"] = pd.qcut(all_data["form_field49"].rank(method='first'),5,labels=False)
all_data["form_field50_Cat"] = pd.qcut(all_data["form_field50"].rank(method='first'),5,labels=False)

In [ ]:
all_data.head()

    Applicant_ID  form_field1  ...  form_field49_Cat  form_field50_Cat
0  Apcnt_1000000       3436.0  ...                 3                 1
1  Apcnt_1000004       3456.0  ...                 3                 3
2  Apcnt_1000008       3276.0  ...                 3                 1
3  Apcnt_1000012       3372.0  ...                 3                 2
4  Apcnt_1000016       3370.0  ...                 3                 1

[5 rows x 100 columns]

In [ ]:
all_data.iloc[:, 46]

0        charge
1        charge
2        charge
3        charge
4        charge
          ...
79995    charge
79996    charge
79997    charge
79998    charge
79999    charge
Name: form_field47, Length: 80000, dtype: object

In [ ]:
n = list(range(1,51,1))
for i in range(51):
  var = all_data.columns[i]
  var = var+ '_Cat'
all_data[var] = pd.qcut(all_data.iloc[:, i],5,labels=False)

In [ ]:
all_data = all_data.drop(["Applicant_ID"], axis=1)

In [ ]:
train_n = all_data[:tr_rows]
test_n = all_data[tr_rows:]

In [ ]:
train_n['target'] =  Y_train

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
train_n

       form_field1  form_field2  ...  form_field49_Cat  form_field50_Cat
0           3436.0      0.28505  ...                 3                 0
1           3456.0      0.67400  ...                 3                 2
2           3276.0      0.53845  ...                 3                 0
3           3372.0      0.17005  ...                 3                 1
4           3370.0      0.77270  ...                 3                 1
...            ...          ...  ...               ...               ...
55995       3740.0      0.01730  ...                 1                 2
55996       3360.0      2.01145  ...                 1                 4
55997       3500.0      0.76640  ...                 4                 1
55998       3280.0      0.05235  ...                 1                 0
55999       3522.0      0.46930  ...                 4                 3

[56000 rows x 99 columns]

In [ ]:
#train_n.head()
test_n.to_csv('Test_Spool.csv')

In [ ]:
train_n.shape

(56000, 99)

In [ ]:
cate_features_ind = np.where(train_n.dtypes != float)[0]

In [ ]:
 cate_features_ind

In [ ]:
 cate_features_index = [cate_features_index,46]

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(train_n, Y_train,test_size=0.15)

In [ ]:
model = CatBoostClassifier(iterations=200, depth=15,cat_features=cate_features_ind, learning_rate=0.01,eval_metric='Accuracy',use_best_model=True, random_seed=50)

In [ ]:
model.fit(xtrain,ytrain,eval_set=(xtest,ytest))

In [ ]:
pred = model.predict(test_n)
#pred = pred.astype(np.int)
submission = pd.DataFrame({'ID':test['Applicant_ID'],'target':pred})
submission.to_csv('/content/drive/My Drive/Result_DSN_2020.csv',index=False)

# Version **Two**

In [ ]:
all_data_2 = pd.concat((train, test)).reset_index(drop=True)

In [ ]:
all_data_2.head()

    Applicant_ID  form_field1  ...  form_field50  default_status
0  Apcnt_1000000       3436.0  ...      0.044335              no
1  Apcnt_1000004       3456.0  ...      0.322436              no
2  Apcnt_1000008       3276.0  ...      0.011640             yes
3  Apcnt_1000012       3372.0  ...      0.082729              no
4  Apcnt_1000016       3370.0  ...      0.045630              no

[5 rows x 52 columns]

In [ ]:
cols = ["form_field2","form_field3","form_field4","form_field5","form_field7","form_field10", "form_field12", 
        "form_field13", "form_field22", "form_field23", "form_field24", "form_field42" ]
##all_data_2['form_field2'] = all_data_2['form_field2'].replace({'0':np.nan, 0:np.nan})

all_data_2[cols]=all_data_2[cols].replace(0, np.nan)

In [ ]:
all_data_2.fillna(all_data.mean(), inplace=True)

In [ ]:
all_data_2["form_field1_Cat"] = pd.qcut(all_data_2["form_field1"],5,labels=False)
all_data_2["form_field2_Cat"] = pd.qcut(all_data_2["form_field2"],5,labels=False)
all_data_2["form_field3_Cat"] = pd.qcut(all_data_2["form_field3"].rank(method='first'),5,labels=False)
all_data_2["form_field4_Cat"] = pd.qcut(all_data_2["form_field4"].rank(method='first'),5,labels=False)
all_data_2["form_field5_Cat"] = pd.qcut(all_data_2["form_field5"].rank(method='first'),5,labels=False)
all_data_2["form_field6_Cat"] = pd.qcut(all_data_2["form_field6"].rank(method='first'),5,labels=False)
all_data_2["form_field7_Cat"] = pd.qcut(all_data_2["form_field7"].rank(method='first'),5,labels=False)
all_data_2["form_field8_Cat"] = pd.qcut(all_data_2["form_field8"].rank(method='first'),5,labels=False)
all_data_2["form_field9_Cat"] = pd.qcut(all_data_2["form_field9"].rank(method='first'),5,labels=False)
all_data_2["form_field10_Cat"] = pd.qcut(all_data_2["form_field10"].rank(method='first'),5,labels=False)
all_data_2["form_field11_Cat"] = pd.qcut(all_data_2["form_field11"].rank(method='first'),5,labels=False)
all_data_2["form_field12_Cat"] = pd.qcut(all_data_2["form_field12"].rank(method='first'),5,labels=False)
all_data_2["form_field13_Cat"] = pd.qcut(all_data_2["form_field13"].rank(method='first'),5,labels=False)
all_data_2["form_field14_Cat"] = pd.qcut(all_data_2["form_field14"].rank(method='first'),5,labels=False)
all_data_2["form_field15_Cat"] = pd.qcut(all_data_2["form_field15"].rank(method='first'),5,labels=False)
all_data_2["form_field16_Cat"] = pd.qcut(all_data_2["form_field16"].rank(method='first'),5,labels=False)
all_data_2["form_field17_Cat"] = pd.qcut(all_data_2["form_field17"].rank(method='first'),5,labels=False)
all_data_2["form_field18_Cat"] = pd.qcut(all_data_2["form_field18"].rank(method='first'),5,labels=False)
all_data_2["form_field19_Cat"] = pd.qcut(all_data_2["form_field19"].rank(method='first'),5,labels=False)
all_data_2["form_field20_Cat"] = pd.qcut(all_data_2["form_field20"].rank(method='first'),5,labels=False)
all_data_2["form_field21_Cat"] = pd.qcut(all_data_2["form_field21"].rank(method='first'),5,labels=False)
all_data_2["form_field22_Cat"] = pd.qcut(all_data_2["form_field22"].rank(method='first'),5,labels=False)
all_data_2["form_field23_Cat"] = pd.qcut(all_data_2["form_field23"].rank(method='first'),5,labels=False)
all_data_2["form_field24_Cat"] = pd.qcut(all_data_2["form_field24"].rank(method='first'),5,labels=False)
all_data_2["form_field25_Cat"] = pd.qcut(all_data_2["form_field25"].rank(method='first'),5,labels=False)
all_data_2["form_field26_Cat"] = pd.qcut(all_data_2["form_field26"].rank(method='first'),5,labels=False)
all_data_2["form_field27_Cat"] = pd.qcut(all_data_2["form_field27"].rank(method='first'),5,labels=False)
all_data_2["form_field28_Cat"] = pd.qcut(all_data_2["form_field28"].rank(method='first'),5,labels=False)
all_data_2["form_field29_Cat"] = pd.qcut(all_data_2["form_field29"].rank(method='first'),5,labels=False)
all_data_2["form_field30_Cat"] = pd.qcut(all_data_2["form_field30"].rank(method='first'),5,labels=False)
all_data_2["form_field31_Cat"] = pd.qcut(all_data_2["form_field31"].rank(method='first'),5,labels=False)
all_data_2["form_field32_Cat"] = pd.qcut(all_data_2["form_field32"].rank(method='first'),5,labels=False)
all_data_2["form_field33_Cat"] = pd.qcut(all_data_2["form_field33"].rank(method='first'),5,labels=False)
all_data_2["form_field34_Cat"] = pd.qcut(all_data_2["form_field34"].rank(method='first'),5,labels=False)
all_data_2["form_field35_Cat"] = pd.qcut(all_data_2["form_field35"].rank(method='first'),5,labels=False)
all_data_2["form_field36_Cat"] = pd.qcut(all_data_2["form_field36"].rank(method='first'),5,labels=False)
all_data_2["form_field37_Cat"] = pd.qcut(all_data_2["form_field37"].rank(method='first'),5,labels=False)
all_data_2["form_field38_Cat"] = pd.qcut(all_data_2["form_field38"].rank(method='first'),5,labels=False)
all_data_2["form_field39_Cat"] = pd.qcut(all_data_2["form_field39"].rank(method='first'),5,labels=False)
all_data_2["form_field40_Cat"] = pd.qcut(all_data_2["form_field40"].rank(method='first'),5,labels=False)
all_data_2["form_field41_Cat"] = pd.qcut(all_data_2["form_field41"].rank(method='first'),5,labels=False)
all_data_2["form_field42_Cat"] = pd.qcut(all_data_2["form_field42"].rank(method='first'),5,labels=False)
all_data_2["form_field43_Cat"] = pd.qcut(all_data_2["form_field43"].rank(method='first'),5,labels=False)
all_data_2["form_field44_Cat"] = pd.qcut(all_data_2["form_field44"].rank(method='first'),5,labels=False)
all_data_2["form_field45_Cat"] = pd.qcut(all_data_2["form_field45"].rank(method='first'),5,labels=False)
all_data_2["form_field46_Cat"] = pd.qcut(all_data_2["form_field46"].rank(method='first'),5,labels=False)
#all_data_2["form_field47_Cat"] = pd.qcut(all_data_2["form_field47"].rank(method='first'),5,labels=False)
all_data_2["form_field48_Cat"] = pd.qcut(all_data_2["form_field48"].rank(method='first'),5,labels=False)
all_data_2["form_field49_Cat"] = pd.qcut(all_data_2["form_field49"].rank(method='first'),5,labels=False)
all_data_2["form_field50_Cat"] = pd.qcut(all_data_2["form_field50"].rank(method='first'),5,labels=False)

In [ ]:
all_data_2.head()

   form_field1  form_field2  ...  form_field49_Cat  form_field50_Cat
0       3436.0      0.28505  ...                 3                 0
1       3456.0      0.67400  ...                 3                 2
2       3276.0      0.53845  ...                 3                 0
3       3372.0      0.17005  ...                 3                 1
4       3370.0      0.77270  ...                 3                 1

[5 rows x 100 columns]

In [ ]:
all_data_2 = all_data_2.drop(["Applicant_ID"], axis=1)

In [ ]:
train_n_2 = all_data[:tr_rows]
test_n_2 = all_data[tr_rows:]

In [ ]:
cate_features_ind_2 = np.where(train_n_2.dtypes != float)[0]

In [ ]:
xtrain_2,xtest_2,ytrain_2,ytest_2 = train_test_split(train_n_2, Y_train,test_size=0.20)

In [ ]:
model = CatBoostClassifier(iterations=100, depth=15,cat_features=cate_features_ind_2, learning_rate=0.01,eval_metric='Accuracy',use_best_model=True, random_seed=50)

In [ ]:
model.fit(xtrain_2,ytrain_2,eval_set=(xtest_2,ytest_2))

## Version **Three** Early stopping of *Gradient Boosting*

In [ ]:
import time

import numpy as np
import matplotlib.pyplot as plt

from sklearn import ensemble
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [ ]:
n_estimators = 500

In [ ]:
n_gb = []
score_gb = []
time_gb = []
n_gbes = []
score_gbes = []
time_gbes = []

In [ ]:
all_data['form_field47']

0        charge
1        charge
2        charge
3        charge
4        charge
          ...
79995    charge
79996    charge
79997    charge
79998    charge
79999    charge
Name: form_field47, Length: 80000, dtype: object

In [ ]:
xtrain = xtrain.drop(["form_field47"], axis=1)

In [ ]:
xtest = xtest.drop(["form_field47"], axis=1)

In [ ]:
gbes = ensemble.GradientBoostingClassifier(n_estimators=100,
                                               validation_fraction=0.2,
                                               n_iter_no_change=1000, tol=0.01,
                                               random_state=0)
#gb = ensemble.GradientBoostingClassifier(n_estimators=n_estimators,
#                                             random_state=0)
#start = time.time()
#gb.fit(xtrain, ytrain)
#time_gb.append(time.time() - start)

start = time.time()
gbes.fit(xtrain, ytrain)
time_gbes.append(time.time() - start)

#score_gb.append(gb.score(xtrain, ytrain))
score_gbes.append(gbes.score(xtest, ytest))

In [ ]:
score_gbes.append(gbes.score(xtest, ytest))

In [ ]:
score_gbes

[0.7942436974789916,
 0.7953571428571429,
 0.7953571428571429,
 0.7982142857142858,
 0.8017857142857143,
 0.8017857142857143,
 0.8002380952380952]

## Version **Four**

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
xtrain = train_n.drop(["form_field47"], axis=1)

In [ ]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(xtrain)

In [ ]:
X_train.shape, Y_train.shape

((56000, 98), (56000,))

In [ ]:
state = 12  
test_size = 0.30  
  
X_train, X_val, y_train, y_val = train_test_split(X_train, Y_train,  
    test_size=test_size, random_state=state)

In [ ]:
lr_list = [0.7]

for learning_rate in lr_list:
    gb_clf = GradientBoostingClassifier(n_estimators=500, learning_rate=0.7, random_state=0)
    gb_clf.fit(X_train, y_train)

    print("Learning rate: ", learning_rate)
    print("Accuracy score (training): {0:.3f}".format(gb_clf.score(X_train, y_train)))
    print("Accuracy score (validation): {0:.3f}".format(gb_clf.score(X_val, y_val)))

Learning rate:  0.7
Accuracy score (training): 0.917
Accuracy score (validation): 0.772